@import "./../less/variables.less";
@import "./../less/normalize.less";
@import "./../less/mobile-form.less";
@import "./../less/profile.less";
@import "./../less/fail.less";
@import "./../less/modal.less";
@import "./../less/chats.less";
@import "./../less/dialog.less";
@import "./../less/current-chat.less";
@import "./../less/menu.less";


* {
  color: @black-color;
  font-family: "Inter", sans-serif;
}

body {
  min-width: 300px;
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
  font-weight: 500;
}

img {
  max-width: 100%;
  height: auto;
}

.nav {
  display: flex;
  flex-wrap: wrap;

  a {
    margin: 15px;
    font-size: 15px;
  }
}